<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link"
        id="nav-home-tab"
        data-toggle="tab"
        href="/"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        >Task Manager</a
      >
      <a
        class="nav-item nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        href="/tasks/add"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Add Task</a
      >
      <a
        class="nav-item nav-link"
        id="nav-contact-tab"
        data-toggle="tab"
        href="/tasks/list"
        role="tab"
        aria-controls="nav-contact"
        aria-selected="false"
        >View Tasks</a
      >
    </div>
  </nav>
</div>
