<%include ../shared/header %>

<form>
  <div class="container">
    <div class="row">
      <div class="col col-md-4">
        <label for="inputAddTask">Add Task</label>
        <input type="text" class="form-control" placeholder="Add Task" />
      </div>
    </div>
    <div class="row">
      <div class="col col-md-4">
        <label for="inputDescription">Description</label>
        <input type="textarea" class="form-control" placeholder="Description" />
      </div>
    </div>
    <div class="row">
      <div class="col col-md-4">
        <label for="inputImageUrl">Image Url</label>
        <input type="text" class="form-control" placeholder="Image URL" />
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>

<%include ../shared/footer %>
